<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <link href='/stylesheets/index.css' rel='stylesheet' />
  </head>
  <body>
    <div class='row'>
	    <div class='col-xs-12' style='text-align:center;'>
	    	<h1>Teach us a little about your child...</h1>
	    </div>
    </div>
    <div class='row'>
	    <div class='col-xs-2 selection-title'>
	    	<h2>Age:</h2>
	    </div>
	    <% for (var i = 0; i < ages.length; i++) {%>
		    <div class='col-xs-2 selection'>
		    	<h2 class='img-rounded age-selection'><%= ages[i] %> years</h2>
		    </div>
		<% } %>
    </div>
    <div class='row'>
	    <div class='col-xs-2 selection-title'>
	    	<h2>Gender:</h2>
	    </div>
	    <% for (var i = 0; i < genders.length; i++) {%>
		    <div class='col-xs-2 selection'>
		    	<img class='img-rounded' src='<%= genders[i].image %>' style='width: 100%;' />
		    	<h2><%= genders[i].text %></h2>
		    </div>
		<% } %>
    </div>
    <div class='row'>
	    <div class='col-xs-2 selection-title'>
	    	<h2>Location:</h2>
	    </div>
	    <% for (var i = 0; i < locations.length; i++) {%>
		    <div class='col-xs-2 selection'>
		    	<img class='img-rounded' src='<%= locations[i].image %>' style='width: 100%;' />
		    	<h2><%= locations[i].text %></h2>
		    </div>
		<% } %>
    </div>
    <div class='row'>
	    <div class='col-xs-2 selection-title'>
	    	<h2>Interests:</h2>
	    </div>
	    <% for (var i = 0; i < interests.length; i++) {%>
		    <div class='col-xs-2 selection'>
		    	<img class='img-rounded' src='<%= interests[i].image %>' style='width: 100%;' />
		    	<h2><%= interests[i].text %></h2>
		    </div>
		<% } %>
    </div>
    <div class='row'>
    	<div class='col-xs-12' style='text-align: center; margin-top: 20px;'>
			<button type="button" class="btn btn-default"><h2 style='margin: 0;'>Let's read!</h2></button>
    	</div>
    </div>
    <script type="text/javascript" src='/javascripts/jquery-3.2.1.min.js'></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
